<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pulse</title>
  <link href="assets/font-awesome/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

  <link rel="stylesheet" href="assets/styles/font.css" />

  <link rel="stylesheet" href="assets/styles/common.css" />
  <link rel="stylesheet" href="assets/styles/main.css" />
</head>
<body>
  <div class="header">
    <div class="header__topbar">
      <div class="header__topbar--logo">
        <a href="index.html"><img class="logo hide" src="./assets/images/logo.png"/></a>
      </div>
      <div class="header__topbar--menu">
        <ul class="navbar-mobile">
          <li class="navbar__item"><a href="#" class="toggle-bar"><i class="fas fa-bars fa-2x"></i></a></li>
        </ul>
        <ul class="navbar">
          <li class="navbar__item"><a href="#">Try it out</a></li>
          <li class="navbar__item"><a href="#">Pricing</a></li>
          <li class="navbar__item"><a href="#">About</a></li>
          <li class="navbar__item divider"><a href="#">Login</a></li>
          <li class="navbar__item"><a href="#" class="btn green-inverse">Sign Up</a></li>
        </ul>
      </div>
    </div>
    <div class="header__slider swiper-container">
      <div class="header__slider__wrapper">
        <div class="header__slider__wrapper__section">
          <div id="slide_container" class="header__slider__wrapper__section__main slide-wrapper">
            <h1 class="header__slider__wrapper__section__main--caption slide-1 hide">Collective Insight</h1>
            <h1 class="header__slider__wrapper__section__main--caption slide-2 hide">Project Foresight</h1>
          </div>
          <div id="slide_description" class="header__slider__wrapper__section__description">
            <p class="header-introduction">Pulse by ProjectAI helps project manager make sense of people's collective insights for <strong>better project outcomes</strong>.</p>
            <a href="#" class="btn green lg mt-20 header-point">Try it Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content__block bg-light-grey paragraph-heading-1">
      <span class="separator">&nbsp;</span>
      <h2 class="heading-text">So much more than a survey</h2>
    </div>
    <div class="content__block bg-light-grey">
      <div class="content__block--mobile-image pl-md">
        <img src="./assets/images/mobile.png" width="100%" />
      </div>
      <div class="content__block--about-us pl-md pr-md">
        <div class="content-row">
          <div class="content_row__column ml-20">
            <img src="./assets/images/who-they-are.png" />
            <h2 class="introduce">Who they are</h2>
            <p class="introduce">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <div class="content_row__column ml-20">
            <img src="./assets/images/how-they-feel.png" />
            <h2 class="introduce">How they are</h2>
            <p class="introduce">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
        <div class="content-row mt-20">
          <div class="content_row__column ml-20">
            <img src="./assets/images/what-they-say.png" />
            <h2 class="introduce">What they say</h2>
            <p class="introduce">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
          <div class="content_row__column ml-20">
            <img src="./assets/images/why-it-matter.png" />
            <h2 class="introduce">Why it matter</h2>
            <p class="introduce">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="content__block paragraph-heading-2">
      <span class="separator">&nbsp;</span>
      <h2 class="heading-text">You're in  good company</h2>
    </div>
    <div class="content__block">
      <div class="content__block--section">
        <div class="content-row mt-40">
          <div class="content-row__column">
            <img src="./assets/images/company.png" width="100%">
          </div>
        </div>
        <div class="content-row mt-40">
          <div class="content-row__column mr-20">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam noummy nibh euismod tincidunt ut loreet dolore magna aliquam erat volutpat. Ut wisi enim adminim veniam, quis nostrud "</p>
            <div class="person-panel mt-40">
              <div class="person-panel__photo">
                <img src="assets/images/man1.png" />
              </div>
              <div class="person-panel__content">
                <span class="person-panel__content--name">Robert Stanson</span>
                <span class="person-panel__content--title">Director of IPS</span>
              </div>
            </div>
          </div>
          <div class="content-row__column ml-20 mr-20">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam noummy nibh euismod tincidunt ut loreet dolore magna aliquam erat volutpat. Ut wisi enim adminim veniam, quis nostrud "</p>
            <div class="person-panel  mt-40">
              <div class="person-panel__photo">
                <img src="assets/images/man2.png" />
              </div>
              <div class="person-panel__content">
                <span class="person-panel__content--name">Chris Mayer</span>
                <span class="person-panel__content--title">Manager of Care INC</span>
              </div>
            </div>
          </div>
          <div class="content-row__column ml-20 mr-20">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam noummy nibh euismod tincidunt ut loreet dolore magna aliquam erat volutpat. Ut wisi enim adminim veniam, quis nostrud "</p>
            <div class="person-panel  mt-40">
              <div class="person-panel__photo">
                <img src="assets/images/man3.png" />
              </div>
              <div class="person-panel__content">
                <span class="person-panel__content--name">Jesse Peterson</span>
                <span class="person-panel__content--title">Director of IPS</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content__block paragraph-heading-3">
      <span class="separator">&nbsp;</span>
      <h2 class="heading-text">Why Pulse</h2>
    </div>
    <div class="content__block">
      <div class="content__block--section">
        <div class="content-row mt-xlarge">
          <div class="content-row__column mr-20">
            <img src="assets/images/connected-people.svg" height="150px">
            <h2>Connected People</h2>
            <p>Crowdsourced stakeholder mapping Capuring sentiment, engagement interest, influence and confidence</p>
          </div>
          <div class="content-row__column mr-20 ml-20">
            <img src="assets/images/perception-reality.svg" height="150px">
            <h2>Perception & Reality</h2>
            <p>Connecting with team members & stakeholders to understand how they feel & what they really care about. Closing the gap between perception and reality.</p>
          </div>
          <div class="content-row__column ml-20">
            <img src="assets/images/important.svg" height="150px">
            <h2>What's really important</h2>
            <p>Using artificial intelligence and semantic technologies to build growing knowledge of project concepts to identify early warnings and improve project outcomes.</p>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer__link">
      <img src="./assets/images/logo-green.png">
      <div class="footer__link--section">
        <h3>COMPANY</h3>
        <a href="#blog">Blog</a>
        <a href="#sitemap">Sitemap</a>
        <a href="#contact-us">Contact Us</a>
      </div>
      <div class="footer__link--section">
        <h3>LEGAL</h3>
        <a href="#terms-conditions">Terms and conditions</a>
        <a href="#privacy-policy">Privacy Policy</a>
      </div>
    </div>
    <div class="footer__divider"></div>
    <div class="footer__copyright">
      <div class="footer__copyright--copyright">© 2020 Pulse™ Inc. All rights reserved.</div>
      <div class="footer__copyright--social">
        <a href="#twitter"><i class="fab fa-twitter"></i></a>
        <a href="#facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  //- Some variables to help with maths
  - var circlesNumber = 5;
  - var strokeWidth = 150;
  - var radius = 100;
  - var width = radius * 2;
  - var height = radius * 2;
  - var left = width / 2;
  - var top = height / 2;

  //- Mixin to build a circle (SVG path)
  //- Formula taken from this answer: http://stackoverflow.com/a/10477334
  mixin circle(className)
      <path class="#{className}" d="M #{left} #{top} m -#{radius} 0 a #{radius} #{radius} 0 1 0 #{radius * 2} 0 a #{radius} #{radius} 0 1 0 -#{radius * 2} 0"/>

  //- Center circle
  <svg class="svg-center" width="#{width}" height="#{height}">
      + circle('path-center')
  </svg>

  //- Reset some variables to build the other circles
  - width = 10000;
  - height = 5000;
  - left = width / 2;
  - top = height / 2;
  - radius += strokeWidth / 2 - 1;

  //- Very big SVG
  <svg class="svg-borders" width="#{width}" height="#{height}">

      //- Build the circles, increasing the radius at each iteration
      while circlesNumber--
          + circle('path-borders')
          - radius += strokeWidth - 1;
  </svg>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js" type="text/javascript"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/bas.js" type="text/javascript"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/OrbitControls-2.js" type="text/javascript"></script>
  <script src="assets/js/main.js" type="text/javascript"></script>
</body>
</html>